<div class="card mb-3">
    <div class="row">
        <div class="col-3">
            <img src="assets/images/1.jpeg" alt="" class="img-fluid rounded-start p-200">
        </div>
        <div class="col-9">
            <div class="card-body">
                <h5 class="card-title">Iphone 14</h5>
                <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis nisi explicabo iste aperiam quam quia amet iure alias architecto ipsum!</p>
            </div>
        </div>
    </div>
</div>